*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*body*/
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin-top: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*main*/
.content {
  width: 1140px;
  height: 534px;
  display: flex;
  align-content: end;
  justify-content: center;
  gap: 30px;
}

/*div с главным видео*/
.result__video-container {
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column; 
  object-fit: contain;
}


/*секция для списка карточек + span Посмотри в окно*/
.content__details {
  width: 100%;        
  height: 100%;
  display: flex;  
  flex-direction: column;
  gap: 26px;
}

/*div со списком карточек*/
.content__list-container {
  height: 534px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*ul карточек видео*/
.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

/*article*/
.content__video-card {
  display: flex;
  align-items: flex-start;
}

/*div для маленьких видео и описания*/
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*маленькие видео*/
.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: contain;
  object-position: right center;
}

/*h1 class="title" стр 73*/
.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/*По-</span><br />смотри<br />в окно*/
.content__accent {
  color: #545050;
}


/*список городов*/
.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}


/*города*/
.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*описание городов*/
.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  white-space: nowrap;
  overflow: hidden;
  line-clamp: 1;
}


/*class в Input взято из задания*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


/*Найти вся форма*/
.search-form {
  display: flex;                   
  align-items: flex-start;
  justify-content: space-between;
}

/*"Время суток"*/
.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}


/*Обертка Утро-день-ночь*/
.search-form__checkbox-list {
  width: fit-content;
  display: flex;
  gap: 20px;
 
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*Например*/
.search-form__label {
  display: flex;
  align-items: center;
}

/*"Например ..."*/
.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFFB2; 
  border: 1px solid #FFFFFF;
  border-left: none;
  border-right: none;
  background-color: transparent;
  appearance: none;
  outline: none; 
  padding: 0;
  width: 225px;
  height: 27px;
}


/*placeholder */
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}


/* cтиль при фокусе*/
.search-form__textfield:focus {
  color: #fff;
  outline: 1px solid #fff;
}


/*input в фокусе -убираем границу*/
.search-form__label:has(:focus) {
  border-color: transparent; 
}

/*границa y лейблa */
.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
  outline: #FFFFFF; 
}

/*квадраты выбора*/
.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  padding: 1px;
  box-sizing: border-box;
  display: inline-block; 
  cursor: pointer;
  position: relative;
  margin-right: 7px;
}

/*белый квадрат*/
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  opacity: 0;
  box-sizing: border-box;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-decoration-skip-ink: none; /*опустить подчёркивание*/
  cursor: pointer;
}

/* цвет и стиль рамки при фокусе */  
.search-form__checkbox:focus {
  outline: 1px solid #FFFFFF;       
}

/*добавляет границу квадрат+время*/
.search-form__checkbox:focus {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}


